/* VW Font*/
@font-face {
	font-family: 'VW Font';
	src:
		url('https://snegraof.github.io/CustomFontsSAC/VWHead_Bold') format('otf'),
		url('https://snegraof.github.io/CustomFontsSAC/VWHead_BoldItalic') format('otf'),
		url('https://snegraof.github.io/CustomFontsSAC/VWHead_ExtraBold') format('otf'),
   	url('https://snegraof.github.io/CustomFontsSAC/VWHead_Light') format('otf'),
  	url('https://snegraof.github.io/CustomFontsSAC/VWHead_Regular') format('otf'),
  	url('https://snegraof.github.io/CustomFontsSAC/VWHead_RegularItalic') format('otf'),
    url('https://snegraof.github.io/CustomFontsSAC/VWText_Bold') format('otf'),
    url('https://snegraof.github.io/CustomFontsSAC/VWText_BoldItalic') format('otf'),
    url('https://snegraof.github.io/CustomFontsSAC/VWText_Light') format('otf'),
    url('https://snegraof.github.io/CustomFontsSAC/VWText_Regular') format('otf'),
    url('https://snegraof.github.io/CustomFontsSAC/VWText_RegularItalic') format('otf');
	font-weight: normal;
	font-style: normal;
}
